<?xml version="1.0" encoding="utf-8" ?>


<!-- important: no namespace -->
<configuration>
    <runtime>
        <!-- important, must have this namespace -->
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       
       
            
        </assemblyBinding>
    </runtime>



</configuration>